
* {
   box-sizing: border-box; 
}

body{
        font-family: 'Montserrat', sans-serif;
        color: #515076;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
    background-image: url("images/bg_1.png");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 790px auto;
    padding-top: 1px;
    padding-bottom: 1px;
}

.img product {
    margin-bottom: 30px;
    width: 290px;
}

h1 {
    font-size: 70px;
    font-weight: 400;
    text-align: center;
    line-height: 78px;
    margin-bottom: 131px;
    margin-top: 206px;
}
.product {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    row-gap: 45px;
    column-gap: 45px;
    justify-content: center;
    width: 1110px;
    margin-bottom: 109px;

}
.product-item {
    background-color: #F7F7FA;
    width: 340px;
    box-sizing: border-box;
    padding: 25px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
}
.main-text.description {
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 15px;
    margin-top: 5px;
}

.structure {
    font-size: 13px;
    line-height: 18px;
}

.list {
    font-size: 13px;
    line-height: 18px;
    padding-left: 0;
    margin: 0;
    list-style-position: inside;

}
.for-skin {
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    display: block;
    margin-top: 30px;
    margin-bottom: 5px;
}

.h2 {
    margin-top: 0;
    margin-bottom: 0;

}

.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}
